.nav-wrapper, .navbar {
  background: #ffc107 !important;
  color: #000;
}
.navbar a {
  color: #000 !important;
}
.signup a {
  background: #fff;
  padding: 0.5rem 2rem !important;
}
.hero {
  background: #ffc107;
  padding: 4em 0;
  position: relative;
  overflow: hidden;
}
.hero-title {
  font-size: 2.8rem;
}
.cta-create-election {
  color: #000;
  font-weight: bold;
  border-radius: unset;
}
.cta-create-election:hover {
  color: #ffc107;
}
.cta-live-demo:hover {
  color: #000;
  border-radius: unset;
}
.cta-live-demo:hover {
  color: #ffc107;
}

/* Product Features */
.features:nth-of-type(odd) {
  background: #f3f3f3;
}
.section-title:after {
  position: absolute;
  left: 15px;
  top: 48px;
  background: #8BC34A;
  background: linear-gradient(135deg,#8BC34A 45%,#FFEB3B 70%);
  content: "";
  width: 166px;
  height: 1px;
}
.features .section-title {
  color: #8BC34A;
}

@media screen and (min-width: 992px){

  .features-2 img {
    position: relative;
    right: -119px;
  }

}