.banner {
  background: #27094a;
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: #1d74f5; */
}
.banner-info-grid h2 {
  text-shadow: none;
  font-weight: bold;
}
#product-nav {
  border-bottom: 2px solid #8bc34a;
}

.product-features:nth-of-type(even) {
  background: #f8f9fa;
}
.section-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: #233142;
}

@media (max-width: 400px){
  .section-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  section {
    padding: 0 15px;
  }
}
.section-lists li {
  font-size: 1.15rem;
  line-height: 1.7;
  position: relative;
  text-align: left;
  color: #615274;
  padding-left: 30px;
}
.section-lists li::before {
  content: "";
    width: 7px;
    height: 7px;
    display: block;
    background-color: #4842B7;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 0;
}